extends layout.pug

include utils.pug

block content
   br
   br
   br
   br
   br
   br
   main
      div
         p= answer.Question.question
      div
         form(action=`/answers/${answer.id}` method='post')
            input(name='_csrf' type='hidden' value=csrfToken)
            div
               label(for="answer" ) Edit answer...
               textarea(name="answer") #{answer.answer}
            div
               button.main-btn Save
