extends layout.pug

include utils.pug

block content
  main.question-list-container
    div
      div.question-list-header
        h1= "What would you like to know?"
    div(class='questionContainer answer-form-container')
      form(method='post' action='/questions/ask' id="ask_form" class='question-form')
        input(name='_csrf' type='hidden' value=csrfToken)
        input(name='user_id' type='hidden' value=user.id)
        div
          label(for='title' id='ask_label') Title
        div
          input(type='text' name='title' placeholder='eg. How do I pass level three on Super Mario Bros?' required)
        div
          label(for='question' id='ask_label') What would you like to know?
        div
          textarea(id='question_box' name='question' placeholder='eg. I can\'t get past the Mother on level 5 of act 2 in Gears of War 5! How do I time shooting her in the back and keeping my distance while she is frozen in the ectoplasmic goo?! ....' required )
        div
          button(class='main-btn') Ask question
