extends layout

append head
  //- add page specific styles by appending to the head
  // link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  section
    img(src="/images/character-bg.png", alt="Video Game Characters")
    div.hero-container
      h2 "Earth's greatest resource for accessing quick tips and tricks to conquering your favorite video game. Post a question and get ready for that mightily fast answer!" - Sonic the Hedgehog (GameOver Ambassador)
      div
        img(src="/images/game-over-sample-logo-removebg-preview.png", alt="Game Over Logo" class='hero-logo')
  div.dark-divider
  main(class='question-list-container')
    div
      div.question-list-header
        h1= "Top Questions"
        a(href="/questions/ask" class="main-btn") Ask Question
      div
        ul
          each question in questions
            li
              div.question-heading
                a(id='link_questions' class='question-title' value=question.id href="/questions/" + question.id)= question.title
                a(href="/questions/" + question.id class='answer-btn') Answer
              p= question.question
