extends layout

append head
  //- add page specific styles by appending to the head
  // link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  main.question-list-container
    div
      div.question-list-header
        h1= "Top Questions"
        a(href="/questions/ask" class="main-btn") Ask Question
      div
        ul
          each question in questions
            li
              a(id='link_questions' value=question.id href="/questions/" + question.id)= question.title
              a(href="/questions/" + question.id class='main-btn') Answer
