doctype html
html
  head
      block head
        title="Game Over App | Where gamers win!"
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.css" rel="stylesheet")
        link(rel='stylesheet' href='/stylesheets/main-styles.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet")
        script(src="/javascripts/index.js" type="module" defer)
  body
    div.style-divider
    header
      div
        div.nav-left
          ul
            li
              a(href="/")
                img(src="/images/game-over-controller-logo.svg", alt="Game Over logo" class='nav-logo')
            li
              a(href="/") Home
            li
              a(href="/questions") Questions
          form(action="/" method='post').searchForm
            input(type="hidden" name="_csrf" value=csrfToken)
            div
              input(type='search' placeholder='Search...' name="search" value=search)
              i(class="fas fa-search")
        div.nav-right
          if locals.authenticated
            span #{user.first_name} logged in
            form(action='/users/logout' method='post')
              button(class='main-btn') Logout
          else
            span
              a(href='/users/login' class='main-btn log-in-btn') Log in
              a(href='/users/sign-up' class='main-btn') Sign up
    block content
