extends layout.pug

include utils.pug

block content
  div(class='questionContainer')
    form
      input(name='_csrf' type='hidden' value=csrfToken)
      div
        label(for='question') What would you like to know?
        textarea(name='question' value=question.question)
