extends layout.pug

include utils.pug

block content
  div
    h2 Questions
    div
      button(class='default-ask-button') Ask Question
    ul
      each question in questions
        li
          a(value=question.id href='question/:id')= question.title
