extends layout.pug

include utils.pug

block content
  div
    table
      thead All Questions
        th Questions
      tbody
        each question in questions
          tr
            td(value=question.id) questions.question
