* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #F1F2F3;
}

a {
    text-decoration: none;
}

/* --- Header styling below --- */

header {
    background: #F8F9F9;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 10%);
    padding: 16px;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1240px;
}

.nav-left {
    display: flex;
    align-items: center;
    width: 75%;
}

.nav-left ul {
    display: flex;
    list-style: none;
}

.nav-left li {
    margin-right: 16px;
}

.nav-right .main-btn {
    margin-left: 4px;
    padding: 6px 8px;
}

.nav-right .log-in-btn {
    background: #E1ECF4;
    border: 1px solid #2098FB;
    color: #2098FB;
}

.nav-right .log-in-btn:hover {
    color: #fff;
}


.userForm {
    background: white;
    padding: 24px;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 10%);
}

.userForm div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.userForm form {
    width: 100%;
}

label {
    margin-bottom: 3px;
}

.userForm input, .main-btn, .searchForm input {
    padding: 6px 6px;
    border-radius: 4px;
}

.main-btn {
    background: #2098FB;
    color: white;
    border: 1px solid #2098FB;
    transition: all 250ms;
}

.main-btn:hover {
    background: #1977C9;
    border: 1px solid #1977C9;
    cursor: pointer;
}

.userForm input, .searchForm input {
    border: 1px solid #BABFC4;
    transition: all 250ms;
}

.userForm input:focus, .searchForm input:focus {
    border: 1px solid #2098FB;
}

.form-errors {
    color: #DC5057;
}

.form-errors li {
    margin: 4px 0 4px 20px;
}

.searchForm {
    width: 50%;
}

.searchForm input {
    width: 100%;
}
