

/* #ask_label{
 color: #000000;
 text-shadow:#dc28f3 .65px .65px ;
 display: flex;
 text-align: start;
} */

/* button {
   background: #2098FB;
   color: white;
   border: 1px solid #2098FB;
   transition: all 250ms;
   margin:4px;
   padding: 6px 8px;
   border-radius: 4px;
} */

/* input{
  width: 80%;
} */

/* label{
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-left: 80px;
  text-align: start;

} */


/* #question_box{
  height: 100%;
  width: 80%;
  ;

} */
