.question-list-container {
   margin: 60px auto;
   max-width: 1240px;
   padding: 10px;
}

.question-list-container > div {
   border-radius: 4px;
   padding: 20px;
   background: white;
   text-align: center;
}

.question-list-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}


/* --- media queries below --- */

@media screen and (max-width: 575px) {
   .question-list-container {
      margin-top: 145px;
   }
}
